<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap.css">
    <title>e-commerce Platform</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>    
  </body>
</html>
  


