<div class="span12">
  <ul>
    <h1>Success!</h1>
    <p>The changes have been complteted</p>
    <a class="btn btn-primary" href="/product/new">Create New Product</a>
    <p></p>
    <a class="btn btn-primary" href="/">Go Home</a>
  </ul>
</div>