<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap.css">
    <title>My Calculator</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 class="header">My Calculator</h1>
      </div>
      <%= yield %> 
      <div class="row">
        <h5 class="footer">(c) Jeffrey Kao 2013</h5>
      </div>
    </div>    
  </body>
</html>
  


