ul {
  list-style: none;
  text-align: center;
  margin: auto;
}

.users {
  margin-top: 80px;
}

.products {
  margin-top: 80px;
  margin-left: 25px;
  margin-right: 25px;
}

.newproduct {
  margin-top: 80px;
}

tbody:nth-child(even) {
  background-color: #C0C0C0;
}


body {
  background-image: url("/panda1.jpg");
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
}