ul {
  list-style: none;
  text-align: center;
}

.users {
  margin-top: 80px;
}

.products {
  margin-top: 80px;
  margin-left: 25px;
  margin-right: 25px;
}

.new-product {
  margin-top: 80px;
}

tbody:nth-child(even) {
  background-color: #C0C0C0;
}
